# Schüler-IT Sommersemester 2023
## Notebook 2: Funktionen und Bibliotheken

Hallo liebe Schüllerinnen und Schüler. Das ist eine Jupyternotebook, in diesem könnt ihr lernen zu programmieren. Als Quelle zum Nachlesen kann die offizielle Python Referenz verwendet werden: https://docs.python.org/3/tutorial/

## 1. Wiederholungen

In [1]:
##
# function which takes a number and returns qubic
##
def qubic(n: float) -> float:
    return n * n * n

### 1. Aufgabe
Bitte kommentiere die obenstehende Funktion. Und schreibe den entsprechenden Funktionsaufruf in die folgende Zelle und berechne die Kubikzahl von 44,5.

In [2]:
##
# write your code below this comment
##
print(qubic(44.5))

88121.125

### 2. Aufgabe
Sieh dir die folgende Funktion genauer an. 
1. Was macht diese? 
2. Was bedeutet ": str" hinter der Variablen? 
3. Was bedeutet " -> str" hinter der Liste Eingabeparametern die, die Funktion bekommt? 
4.Sind diese angaben notwendig?

In [4]:
def print_hello(name: str) -> str:
    return "Hello " + name

Nimm dir bitte einen Moment Zeit und doppelklicke in diese Zelle und versuche die Fragen zu beantworten:

Antwort 1: NImmt einen Namen und gibt Hello mit dem Namen wieder.

Antwort 2: Die name Variable soll vom Typ str, also eine Zeichenkette sein.

Antwort 3: Eine Zeichenkette wird als Rückgabetyp definiert.

Antwort 4: Nein, sie sind optional.

Sieh dir die folgenden Funktionsaufrufe an und versuche vor dem Aufruf zu verstehen was sie ausgeben! Sieh dir den advanced test an und überlege dir was bei diesem Test die Besonderheit ist und überlege wie der Test erfolgreich wird. Informationen zu Try findest du hier https://www.w3schools.com/python/python_try_except.asp . Wenn du wissen willst wie man den Fehler verhindern kann, findest du hier etwas über Castings heraus https://www.w3schools.com/python/python_casting.asp .

In [5]:
##
# simple tests
##
print(print_hello("Albrecht"))
print(print_hello("123"))
print(print_hello(print_hello('Urmel')))
print("====================")

##
# advanced test
##
try:
    print(print_hello("123")) # "" macht aus der Zahl eine Zeichenkette, es ist auch mit str() möglich
except:
    print("error")

Hello Albrecht
Hello 123
Hello Hello Urmel
====================
Hello 123

## 2. Funktionen und Tests

### 1. Aufgabe 
Gegeben ist die folgende Funktion. Schreibe in die Zelle für den Testcode 3 Test (Aufrufe) mit Namen deiner Wahl.

In [6]:
def print_my_name(my_name):
    result = "Hello "
    return result + my_name

In [8]:
##
# test your code here
##
print(print_my_name('Daniel'))
print(print_my_name("Isabella"))
print(print_my_name('Tim'))

Hello Daniel
Hello Isabella
Hello Tim

### 2. Aufgabe 
Schreibe eine Test Funktion, welche die Ausgaben von "print_hello()" und "print_my_name()" für den selben Eingabeparameter überprüft und True zurückliefert, wenn Rückgabewerte gleich sind. Weitere Informationen zu Wahrheitswerten True etc findest du hier https://www.w3schools.com/python/python_booleans.asp

In [9]:
name_test = "Daniel"

def compare_functions(result_func_1, result_func_2):
    if result_func_1 == result_func_2:
        return True
    else:
        return False
    
##
# Test
##
print(compare_functions(print_hello(name_test), print_my_name(name_test)))

True

Unten ist eine Liste mit Messungen zu sehen. Du sollst für deine Firma eine Funktion implementieren, welche dir die größte Zahl zurückgibt, um zu wissen wie hoch der maximale Umsatz war.

In [20]:
measurement_list = [11, 2, 13, 18, 14, 7, 2, 4, 4, 1, 12, 15, 20, 1, 41, 76, 1, 90, 101]

##
# write your code below this comment
##

##
# easy solution
##
def find_maximum(input_list):
    return max(input_list)

##
# better solution
##
def find_maximum_2(input_list):
    length_of_list = len(input_list)
    max_value = None
    if length_of_list == 1:
        return input_list[0]
    elif length_of_list > 1:
        max_value = input_list[0]
        for i in range(1, length_of_list):
            if max_value > input_list[i]:
                pass
            else:
                max_value = input_list[i]
    return max_value

In [21]:
##
# test your code here
##
if (101 == find_maximum_2(measurement_list)):
    print("success")
else:
    print("TEST FAILED")

success

## 3. Bibliotheken

### 1. Aufgabe
Du sollst die Bibliothek von einem netten Kollegen benutzen um zu der measurement Liste folgende Elemente hinzuzufügen 21, 66, 45, 132. Die Bibliothek ist hier hinterlegt: https://drive.google.com/drive/folders/1nA9EYW8F2FoxCGgrK66-4iqcbVdLzU7s?usp=share_link . Hinweis du musst diese Datei herunterladen und in deine Jupyter-Notebook Umgebung hochladen in den Ordner, in dem das aktuelle Notebook liegt! Danach kannst du den untenstehenden Code ausführen.

In [22]:
from list_library import get_empty_list, add_measurement_to_list, remove_item_from_list_by_index

add_measurement_to_list(measurement_list, 21) # add 21 to list
add_measurement_to_list(measurement_list, 66)
add_measurement_to_list(measurement_list, 45)
add_measurement_to_list(measurement_list, 132)

In [23]:
##
# test
##
print(measurement_list)

[11, 2, 13, 18, 14, 7, 2, 4, 4, 1, 12, 15, 20, 1, 41, 76, 1, 90, 101, 21, 66, 45, 132]

### 2. Aufgabe
Du sollst die Liste leeren in dem du "measurements" die leere Liste von "get_empty_list" übergibst.

In [24]:
##
# write your code below here
##
measurement_list = get_empty_list()

In [25]:
measurement_list

[]

### 3. Aufgabe 
Bindes die öffentliche Bibliothek "pandas" ein und lege als Alias "pd" fest.

In [26]:
import pandas as pd

### 4. Aufgabe
Lies die Datei "Train_CA.csv" ein. Sie befindet sich hier: https://drive.google.com/drive/folders/1nA9EYW8F2FoxCGgrK66-4iqcbVdLzU7s?usp=share_link . Hinweis: du musst sie herunterladen und in dein Notebook hochladen. Weitere Informationen zu Pandas findest du hier: https://www.w3schools.com/python/pandas/pandas_csv.asp . Und lasse die mit der Funktion "head()" die ersten 2 Zeilen ausgeben.

In [27]:
##
# write your code below this comment
# use the variable data to store your input data
##

data = pd.read_csv('Train_CA.csv')
data.head(2)

,Unnamed: 0,Gender,Age,Debt,Married,BankCustomer,YearsEmployed,PriorDefault,Employed,CreditScore,...,Industry_Transport,Industry_Utilities,Ethnicity_Asian,Ethnicity_Black,Ethnicity_Latino,Ethnicity_Other,Ethnicity_White,Citizen_ByBirth,Citizen_ByOtherMeans,Citizen_Temporary
0,510,0.661438,-1.498873,-0.152521,-1.783765,-1.798090,-0.141565,0.954650,1.157144,-0.082314,...,-0.066082,-0.241417,-0.305782,-0.5,-0.300079,-0.205660,0.831370,0.32249,-0.300079,-0.108306
1,371,0.661438,-0.437417,1.656686,0.560612,0.556146,-0.664877,-1.047504,-0.864196,-0.493887,...,-0.066082,-0.241417,-0.305782,-0.5,-0.300079,4.862392,-1.202834,0.32249,-0.300079,-0.108306

### 5. Aufgabe
Lies die folgende Datei mit dem Namen "produkt_klima_tag_18800101_20211231_01684.txt" ein. Diese findest du hier: https://drive.google.com/drive/folders/1nA9EYW8F2FoxCGgrK66-4iqcbVdLzU7s?usp=share_link .

In [32]:
##
# write your code below this comment
##

weather_data = pd.read_csv('produkt_klima_tag_18800101_20211231_01684.txt', delimiter=';')

Lasse dir die obersten 2 Zeilen der Tabelle ausgeben mit dem Befehl ".head(2)" denn du an deinem Tabellen Objekt anfügst.

In [33]:
##
# write your code below here
##
weather_data.head(2)

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,1684,18800101,-999,-999.0,-999.0,1,9.1,1,-999.0,0,8.0,7.5,984.2,4.2,93.0,5.0,2.5,-999.0,eor
1,1684,18800102,-999,-999.0,-999.0,1,3.8,1,-999.0,0,8.0,8.4,996.1,5.9,91.0,6.9,4.8,-999.0,eor

### 6. Aufgabe
Schreibe eine Funktion, die eine Zeichenkette in einen Datei schreiben kann. Informationen findest du hier: https://www.w3schools.com/python/python_file_write.asp .

In [34]:
##
# example code but no function
##

file = open("output.txt", "w")
file.write("my_name")
file.close()

### 7. Aufgabe 
Lies die Datei "top_secret.txt" Zeile für Zeile aus. Hilfe findest du hier: https://www.w3schools.com/python/python_file_write.asp . Die Datei findest du hier: https://drive.google.com/drive/folders/1nA9EYW8F2FoxCGgrK66-4iqcbVdLzU7s?usp=share_link .

In [37]:
##
# write your code below this comment
##
file2 = open("top_secret.txt", "r")
print(file2.readlines())
file2.close()

['!gh31m t3xt']

### 8. Aufgabe 
Schreibe eine Funktion die, die Noten Zeile für Zeile einliest und eine Liste erstellt. Berechne dann mit einer Funktion deren Zeugnisnote (Durchschnitt).

In [25]:
##
# write your code below here
##